<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.livewallrcandrapp.videowallpaper" >

    <uses-feature
        android:name="android.software.live_wallpaper"
        android:required="true" >
    </uses-feature>

    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <application
        android:allowBackup="true">

        <service
            android:name=".VideoWallpaperService"
            android:enabled="true"
            android:label="VideoToWallpaper"
            android:permission="android.permission.BIND_WALLPAPER" >
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/wallpaper" >
            </meta-data>
        </service>

        <receiver android:name=".ScreenOnOffReceiver" />
    </application>

</manifest>
